:root {
    --primary-color: #4CAF50;
    --secondary-color: #f7d411;
    --text-color: #f2f3f4;
    --background-color: #1a1a1a;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    margin: 0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}


.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details p {
    
    font-size: 20px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}


.btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 40px;
    transition: all 0.3s;
    border: none;
    margin-top: 10px;
  }

  footer {
    position: fixed;
   width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 76, 124);
  }

  footer p {
    padding: 4px;

  }

/* Contact Page Styles */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: var(--text-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);

  }


  /*Menu Section Styles*/
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: var(--text-color);
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
    margin-bottom: 20px;
    
  }
  
  
  .menu .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    gap: 10px;
  }
  
  .container .box .img-box {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: rgb(245, 236, 218);
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .container .box .img-box img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
  
  .box .img-box img:hover {
    transform: scale(1.05);
  }
  
  .container .box .detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .container .box .detail-box h5 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
  }
  
  .container .box .detail-box p {
    font-size: 16px;
    color: var(--text-color);
  }
  
  .container .box .detail-box span {
    font-size: 16px;
    color: var(--text-color);
  }
